@model IEnumerable<MotorShop_Project.Model.Classes.Brand>


@{
    ViewData["Title"] = "Brands_Index";
}

<h1>Brands Overview</h1>

<p>
    <a class="create-link" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                Actions
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    @{
                        var imageSrc = item.GetImgSrc;
                        <img src="@(string.IsNullOrEmpty(imageSrc) ? "/images/placeholde_img.png" : imageSrc)"
                             alt="@(string.IsNullOrEmpty(imageSrc) ? "place_holder" : item.Alt)"
                             width="150" />
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
