@model MotorShop_Project.Model.Classes.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrderEntity</h4>
    <hr />
    <dl class="row">
        @if (User.IsInRole("Admin"))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Brand.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Brand.Id)
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brand.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brand.Name)
        </dd>
        @if (User.IsInRole("Admin"))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Model.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Model.Id)
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HasExtras)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HasExtras)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="edit-link">Edit</a>
    }
    <a asp-action="Index" class="back-link">Back to List</a>
</div>
